@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: rgba(58, 70, 99, 1);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease;
}

button {
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
}

header {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 31px;
}

header h2 {
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.5333333611488342px;
  text-align: center;
}
header p {
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 6px;
}

.theme-box {
  display: flex;
  gap: 26px;
  align-items: flex-end;
  position: relative;
  transition: 0.5s ease;
}

.theme-input {
  width: 71px;
  height: 26px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(36, 45, 68, 1);
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
}

.theme-input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: rgba(208, 63, 47, 1);
  border-radius: 50%;
}

.theme-input::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: rgba(208, 63, 47, 1);
  border-radius: 50%;
}

.flex-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.label-container {
  display: flex;
  gap: 11px;
  width: 100%;
  justify-content: space-evenly;
}

label {
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: center;
}

.calculator-box {
  width: 100%;
  padding: 0 24px 31px 24px;
  margin-top: 32px;
  transition: 0.5s ease;
}
.number-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 88px;
  width: 100%;
  background-color: rgba(24, 31, 51, 1);
  border: none;
  border-radius: 10px;
  transition: 0.5s ease;

  /* // text */
  font-size: 40px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.6666666865348816px;
  text-align: right;
  padding-right: 24px;
  color: rgba(255, 255, 255, 1);
}

.operations-card {
  background-color: rgba(36, 45, 68, 1);
  width: 100%;
  margin-top: 24px;
  height: 420px;
  border-radius: 10px;
  padding: 24px;
}

.main-btns {
  gap: 13px;
  display: grid;
  grid-template-columns: repeat(4, minmax(30px, 1fr));
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.btn {
  transition: 0.5s ease;
  width: 100%;
  /* min-width: 60px; */
  min-height: 64px;
  border-radius: 8px;
  border: none;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.5333333611488342px;
  text-align: center;
  color: rgba(67, 74, 89, 1);
  background-color: rgba(234, 227, 220, 1);
  box-shadow: 0px -4px 0px 0px rgba(179, 164, 151, 1) inset;
}

/* .operation {
  font-size: 20px;
  line-height: 18.4px;
  letter-spacing: -0.33px;
} */

.row {
  width: 100%;
  display: flex;
  gap: 13px;
  justify-content: space-between;
  margin-top: 13px;
}

.reset-btn,
.del {
  background-color: rgba(100, 113, 152, 1);
  box-shadow: 0px -4px 0px 0px rgba(65, 78, 115, 1) inset;
  color: rgba(255, 255, 255, 1);
}
.equal-btn {
  background: rgba(208, 63, 47, 1);
  box-shadow: 0px -4px 0px 0px rgba(147, 38, 26, 1) inset;
  color: rgba(255, 255, 255, 1);
}

.executive-btn:hover {
  background-color: rgba(162, 178, 225, 1);
}
.equal-btn:hover {
  background-color: rgba(249, 107, 91, 1);
}

.executive-btn {
  font-size: 20px;
  line-height: 18.4px;
  letter-spacing: -0.33px;
}

.light {
  background-color: rgba(230, 230, 230, 1);
}

.light header {
  color: rgba(54, 54, 44, 1);
}

.light input {
  background-color: rgba(210, 205, 205, 1);
}

.light .number-input {
  background-color: rgba(238, 238, 238, 1);
  color: rgba(54, 54, 44, 1);
}

.light .operations-card {
  background-color: rgba(210, 205, 205, 1);
}

.light .btn {
  color: rgba(54, 54, 44, 1);
  background-color: rgba(229, 228, 225, 1);
  box-shadow: 0px -4px 0px 0px rgba(167, 158, 145, 1) inset;
}
.light .reset-btn,
.light .del {
  color: rgba(255, 255, 255, 1);
  background: rgba(55, 129, 135, 1);
  box-shadow: 0px -4px 0px 0px rgba(27, 96, 102, 1) inset;
}

.light .equal-btn {
  color: rgba(255, 255, 255, 1);
  background: rgba(200, 84, 2, 1);
  box-shadow: 0px -4px 0px 0px rgba(135, 57, 1, 1) inset;
}
/* DARK MODE  */

.dark {
  background-color: rgba(23, 6, 42, 1);
}

.dark header {
  color: rgba(255, 229, 61, 1);
}

.dark input,
.dark .number-input,
.dark .operations-card {
  background-color: rgba(30, 9, 54, 1);
  color: rgba(255, 229, 61, 1);
}

.dark .theme-input::-webkit-slider-thumb {
  background-color: rgba(0, 222, 208, 1);
}

.dark .btn {
  color: rgba(255, 229, 61, 1);
  background-color: rgba(51, 28, 77, 1);
  box-shadow: 0px -4px 0px 0px rgba(136, 28, 158, 1) inset;
}
.dark .reset-btn,
.dark .del {
  color: rgba(255, 255, 255, 1);
  background: rgba(86, 7, 124, 1);
  box-shadow: 0px -4px 0px 0px rgba(190, 21, 244, 1) inset;
}

.dark .equal-btn {
  color: rgba(26, 35, 39, 1);
  background: rgba(0, 222, 208, 1);
  box-shadow: 0px -4px 0px 0px rgba(108, 249, 241, 1) inset;
}

@media (min-width: 600px) {
  header {
    max-width: 533px;
    padding: 0;
  }
  .number-input {
    height: 128px;
    max-width: 540px;
    font-size: 56px;
    line-height: 51.52px;
    letter-spacing: -0.93px;
    padding-right: 32px;
  }

  .operations-card {
    max-width: 540px;
    height: 480px;
    padding: 32px;
  }

  .calculator-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-btns {
    gap: 24px;
  }

  .btn {
    max-width: 101px;
    max-height: 64px;
  }

  .row {
    margin-top: 24px;
  }

  .reset-btn,
  .equal-btn {
    max-width: 227px;
    height: 64px;
  }
}
